@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #000;
  --foreground: #ededed;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.local-terminal {
  --term-bg: #000 !important;
  background-color: #000;
}
